@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

body {
  margin: 0;
  font-size: 18px;
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1200px) {
  .content-container {
    max-width: 1143px;
  }
}

.underline {
  color: #000;
  border-bottom: 1px dotted rgb(139, 7, 7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
